AI Career Copilot.json
{
  "name": "AI Career Copilot",
  "nodes": [
    {
      "parameters": {
        "formTitle": "AI Career Copilot",
        "formDescription": "Enter the job details and upload your resume (PDF) to get a match score, tailored resume, skill-gap plan, a personalized project idea, interview prep, and a custom cover letter.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Company Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Job Role",
              "requiredField": true
            },
            {
              "fieldLabel": "Job URL"
            },
            {
              "fieldLabel": "Job Description",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Resume",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "5c456d5d-e34a-40d8-b46f-191c95ddb912",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        -48,
        -64
      ],
      "webhookId": "1aabac73-9afe-47d9-aa1e-eec074082172"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Resume",
        "options": {
          "keepSource": "json"
        }
      },
      "id": "8097815f-83ca-48fd-b41e-847dd3c3fbbd",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        176,
        -80
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert AI career coach, technical recruiter, and resume writer.\n\nAnalyze the candidate's resume against the provided job description. Base every output ONLY on skills, projects, and experience actually present in the resume — never invent experience the candidate does not have.\n\nCandidate Resume:\n{{ $json.text }}\n\nJob Details:\nCompany Name: {{ $json[\"Company Name\"] }}\nJob Role: {{ $json[\"Job Role\"] }}\nJob URL: {{ $json[\"Job URL\"] }}\nJob Description: {{ $json[\"Job Description\"] }}\n\nProduce the following, matching the required JSON schema exactly:\n1. match_score (0-100) and match_level (\"Strong Match\", \"Moderate Match\", or \"Weak Match\").\n2. should_apply (boolean) and a concise decision_reason.\n3. matching_skills: candidate skills that align with the job.\n4. skills_i_lack: important job skills missing or weak in the resume.\n5. important_keywords: key job-description keywords missing from the resume (for ATS).\n6. relevant_projects: existing resume projects/experience most relevant to this job.\n7. experience_gaps: honest gaps for this specific role.\n8. tailored_summary: a rewritten 2-3 sentence professional summary tailored to this job, using the candidate's real skills.\n9. rewritten_bullets: 3-5 objects, each with the \"original\" resume bullet and an \"improved\" version rewritten to be quantified, action-oriented, and aligned to this job's keywords. Only rewrite bullets that exist in the resume.\n10. recommended_resume_changes: specific structural/wording changes to improve this resume for this job.\n11. skill_gap_plan: for each key missing skill, an object with \"skill\", a concrete \"action\" to close the gap, and a \"priority\" (High/Medium/Low).\n12. recommended_project: ONE portfolio project idea the candidate should build next to become a stronger match for this exact role — with \"title\", \"why\" (tie it to their existing skills AND this job), and \"tech_stack\" (prefer tools already on their resume).\n13. interview_prep: 5-6 likely interview questions for THIS role, each an object with \"question\", \"type\" (\"Technical\" or \"Behavioral\"), and a \"talking_point\" that coaches the candidate to answer using their OWN real resume projects/experience.\n14. cover_letter: a concise, personalized 120-160 word cover letter (or cold outreach email) for this specific company and role, written in first person using the candidate's real skills and projects. No placeholders like [Your Name] beyond a closing signature line.\n\nReturn only valid JSON matching the schema.",
        "hasOutputParser": true,
        "batching": {}
      },
      "id": "41aa2f72-eb57-406c-8989-08ea04516e55",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        384,
        -48
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "9b1c0a7e-b587-4bee-b160-24a91090b26a",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        272,
        272
      ],
      "credentials": {
        "groqApi": {
          "id": "uQe4eZzk33GIB53W",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"match_score\": 88,\n  \"match_level\": \"Strong Match\",\n  \"should_apply\": true,\n  \"decision_reason\": \"Strong match based on the candidate's AI and backend project experience.\",\n  \"matching_skills\": [\"Python\", \"FastAPI\", \"LangGraph\", \"RAG\", \"ChromaDB\"],\n  \"skills_i_lack\": [\"AWS\", \"Kubernetes\"],\n  \"important_keywords\": [\"LLM\", \"RAG\", \"AI Agents\", \"FastAPI\"],\n  \"relevant_projects\": [\"AI-Powered Travel & Tourism Assistant\"],\n  \"experience_gaps\": [\"No professional AI Engineer experience\"],\n  \"tailored_summary\": \"AI-focused Computer Science undergraduate with hands-on experience building agentic LLM applications using LangGraph, Groq, and RAG pipelines...\",\n  \"rewritten_bullets\": [\n    {\"original\": \"Developed an AI-powered personality prediction web application using Python and Flask.\", \"improved\": \"Engineered an AI-powered personality prediction web app in Python/Flask, integrating an LLM API to classify users in real time.\"}\n  ],\n  \"recommended_resume_changes\": [\"Move AI projects above Salesforce work to lead with your strongest match\"],\n  \"skill_gap_plan\": [\n    {\"skill\": \"AWS\", \"action\": \"Complete AWS Cloud Practitioner and deploy your FastAPI app on EC2/Lambda\", \"priority\": \"High\"}\n  ],\n  \"recommended_project\": {\n    \"title\": \"AI Career Copilot\",\n    \"why\": \"Uses your LangGraph + Groq + RAG + voice stack and directly targets this role's keywords.\",\n    \"tech_stack\": [\"LangGraph\", \"Groq\", \"ChromaDB\", \"FastAPI\", \"React\"]\n  },\n  \"interview_prep\": [\n    {\"question\": \"Explain how you built the RAG pipeline in your Travel Assistant.\", \"type\": \"Technical\", \"talking_point\": \"Walk through ChromaDB + BGE-small embeddings and context-aware retrieval.\"}\n  ],\n  \"cover_letter\": \"Dear Hiring Manager, As a Computer Science undergraduate with hands-on experience building agentic LLM applications...\"\n}"
      },
      "id": "f9e5fa97-9c55-449b-9554-68a1364864d2",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        512,
        272
      ]
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "showText",
        "responseText": "=<div style=\"background:linear-gradient(160deg,#eef2ff 0%,#faf5ff 40%,#f8fafc 100%);min-height:100vh;padding:32px 16px;font-family:-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;color:#1f2937;line-height:1.6;\">\n<div style=\"max-width:820px;margin:0 auto;\">\n<div style=\"background:linear-gradient(135deg,#4f46e5 0%,#7c3aed 100%);border-radius:20px;padding:28px 32px;color:#fff;box-shadow:0 10px 30px rgba(79,70,229,0.25);\">\n<div style=\"font-size:13px;letter-spacing:1px;text-transform:uppercase;opacity:0.85;\">AI Career Copilot Report</div>\n<h1 style=\"margin:6px 0 2px;font-size:26px;\">{{ $('On form submission').item.json['Job Role'] }}</h1>\n<div style=\"opacity:0.9;font-size:16px;\">{{ $('On form submission').item.json['Company Name'] }}</div>\n<div style=\"display:flex;align-items:center;gap:20px;margin-top:22px;flex-wrap:wrap;\">\n<div style=\"background:rgba(255,255,255,0.15);border-radius:16px;padding:16px 22px;text-align:center;min-width:120px;\">\n<div style=\"font-size:46px;font-weight:800;line-height:1;\">{{ $json.output.match_score }}<span style=\"font-size:18px;opacity:0.8;\">/100</span></div>\n<div style=\"font-size:13px;opacity:0.9;margin-top:4px;\">Match Score</div>\n</div>\n<div style=\"flex:1;min-width:220px;\">\n<div style=\"display:inline-block;background:{{ $json.output.should_apply ? '#10b981' : '#f59e0b' }};color:#fff;font-weight:700;font-size:14px;padding:6px 14px;border-radius:20px;\">{{ $json.output.match_level }} · {{ $json.output.should_apply ? '✅ Apply' : '⚠️ Improve first' }}</div>\n<div style=\"height:10px;background:rgba(255,255,255,0.25);border-radius:6px;margin:14px 0 8px;overflow:hidden;\"><div style=\"height:100%;width:{{ $json.output.match_score }}%;background:{{ $json.output.match_score >= 70 ? '#34d399' : ($json.output.match_score >= 40 ? '#fbbf24' : '#f87171') }};border-radius:6px;\"></div></div>\n<div style=\"font-size:14px;opacity:0.92;\">{{ $json.output.decision_reason }}</div>\n</div>\n</div>\n</div>\n<div style=\"display:flex;gap:16px;flex-wrap:wrap;margin-top:20px;\">\n<div style=\"flex:1;min-width:240px;background:#fff;border-radius:16px;padding:18px 20px;box-shadow:0 2px 10px rgba(0,0,0,0.05);\">\n<div style=\"font-weight:700;color:#16a34a;margin-bottom:10px;\">✅ Matching Skills</div>\n<div>{{ ($json.output.matching_skills || []).map(x => \"<span style=\\\"display:inline-block;background:#dcfce7;color:#166534;font-size:13px;font-weight:500;padding:4px 10px;border-radius:14px;margin:0 6px 6px 0;\\\">\" + x + \"</span>\").join(\"\") || \"<span style=\\\"color:#9ca3af;\\\">None identified</span>\" }}</div>\n</div>\n<div style=\"flex:1;min-width:240px;background:#fff;border-radius:16px;padding:18px 20px;box-shadow:0 2px 10px rgba(0,0,0,0.05);\">\n<div style=\"font-weight:700;color:#dc2626;margin-bottom:10px;\">❌ Missing / Weak Skills</div>\n<div>{{ ($json.output.skills_i_lack || []).map(x => \"<span style=\\\"display:inline-block;background:#fee2e2;color:#991b1b;font-size:13px;font-weight:500;padding:4px 10px;border-radius:14px;margin:0 6px 6px 0;\\\">\" + x + \"</span>\").join(\"\") || \"<span style=\\\"color:#9ca3af;\\\">None</span>\" }}</div>\n</div>\n</div>\n<div style=\"background:#fff;border-radius:16px;padding:18px 20px;box-shadow:0 2px 10px rgba(0,0,0,0.05);margin-top:16px;\">\n<div style=\"font-weight:700;color:#2563eb;margin-bottom:10px;\">🔑 Keywords Missing from Resume (ATS)</div>\n<div>{{ ($json.output.important_keywords || []).map(x => \"<span style=\\\"display:inline-block;background:#dbeafe;color:#1e40af;font-size:13px;font-weight:500;padding:4px 10px;border-radius:14px;margin:0 6px 6px 0;\\\">\" + x + \"</span>\").join(\"\") || \"<span style=\\\"color:#9ca3af;\\\">None</span>\" }}</div>\n</div>\n<div style=\"background:#fff;border-radius:16px;padding:20px;box-shadow:0 2px 10px rgba(0,0,0,0.05);margin-top:16px;border-top:4px solid #2563eb;\">\n<div style=\"font-weight:700;margin-bottom:8px;\">📝 Tailored Professional Summary</div>\n<div style=\"color:#374151;\">{{ $json.output.tailored_summary }}</div>\n</div>\n<div style=\"background:#fff;border-radius:16px;padding:20px;box-shadow:0 2px 10px rgba(0,0,0,0.05);margin-top:16px;\">\n<div style=\"font-weight:700;margin-bottom:12px;\">✍️ Rewritten Resume Bullets</div>\n{{ ($json.output.rewritten_bullets || []).map(b => \"<div style=\\\"margin-bottom:14px;padding-bottom:14px;border-bottom:1px solid #f1f5f9;\\\"><div style=\\\"color:#9ca3af;font-size:13px;text-decoration:line-through;\\\">\" + b.original + \"</div><div style=\\\"color:#065f46;font-weight:500;margin-top:4px;\\\">➜ \" + b.improved + \"</div></div>\").join(\"\") || \"<span style=\\\"color:#9ca3af;\\\">None</span>\" }}\n</div>\n<div style=\"display:flex;gap:16px;flex-wrap:wrap;margin-top:16px;\">\n<div style=\"flex:1;min-width:240px;background:#fff;border-radius:16px;padding:18px 20px;box-shadow:0 2px 10px rgba(0,0,0,0.05);\">\n<div style=\"font-weight:700;margin-bottom:10px;\">📌 Highlight These Projects</div>\n<ul style=\"margin:0;padding-left:18px;color:#374151;\">{{ ($json.output.relevant_projects || []).map(x => \"<li>\" + x + \"</li>\").join(\"\") || \"<li>None identified</li>\" }}</ul>\n</div>\n<div style=\"flex:1;min-width:240px;background:#fff;border-radius:16px;padding:18px 20px;box-shadow:0 2px 10px rgba(0,0,0,0.05);\">\n<div style=\"font-weight:700;margin-bottom:10px;\">🧩 Experience Gaps</div>\n<ul style=\"margin:0;padding-left:18px;color:#374151;\">{{ ($json.output.experience_gaps || []).map(x => \"<li>\" + x + \"</li>\").join(\"\") || \"<li>None</li>\" }}</ul>\n</div>\n</div>\n<div style=\"background:#fff;border-radius:16px;padding:20px;box-shadow:0 2px 10px rgba(0,0,0,0.05);margin-top:16px;\">\n<div style=\"font-weight:700;margin-bottom:10px;\">💡 Recommended Resume Changes</div>\n<ul style=\"margin:0;padding-left:18px;color:#374151;\">{{ ($json.output.recommended_resume_changes || []).map(x => \"<li style=\\\"margin-bottom:6px;\\\">\" + x + \"</li>\").join(\"\") || \"<li>None</li>\" }}</ul>\n</div>\n<div style=\"background:#fff;border-radius:16px;padding:20px;box-shadow:0 2px 10px rgba(0,0,0,0.05);margin-top:16px;\">\n<div style=\"font-weight:700;margin-bottom:12px;\">📚 Skill-Gap Prep Plan</div>\n{{ ($json.output.skill_gap_plan || []).map(s => \"<div style=\\\"margin-bottom:12px;padding:12px 14px;background:#f9fafb;border-radius:10px;\\\"><b>\" + s.skill + \"</b> <span style=\\\"font-size:11px;font-weight:700;padding:2px 8px;border-radius:10px;background:\" + (s.priority === 'High' ? '#fee2e2;color:#991b1b' : (s.priority === 'Medium' ? '#fef3c7;color:#92400e' : '#dcfce7;color:#166534')) + \";\\\">\" + s.priority + \"</span><div style=\\\"color:#4b5563;margin-top:4px;\\\">\" + s.action + \"</div></div>\").join(\"\") || \"<span style=\\\"color:#9ca3af;\\\">None</span>\" }}\n</div>\n<div style=\"background:linear-gradient(135deg,#faf5ff 0%,#f3e8ff 100%);border-radius:16px;padding:22px;box-shadow:0 2px 10px rgba(124,58,237,0.12);margin-top:16px;border:1px solid #e9d5ff;\">\n<div style=\"font-weight:700;color:#6b21a8;margin-bottom:8px;\">🚀 Recommended Next Project</div>\n<b style=\"font-size:18px;\">{{ $json.output.recommended_project.title }}</b>\n<p style=\"margin:8px 0;color:#374151;\">{{ $json.output.recommended_project.why }}</p>\n<div>{{ ($json.output.recommended_project.tech_stack || []).map(x => \"<span style=\\\"display:inline-block;background:#ede9fe;color:#5b21b6;font-size:12px;font-weight:600;padding:4px 10px;border-radius:12px;margin:0 6px 6px 0;\\\">\" + x + \"</span>\").join(\"\") }}</div>\n</div>\n<div style=\"background:#fff;border-radius:16px;padding:20px;box-shadow:0 2px 10px rgba(0,0,0,0.05);margin-top:16px;\">\n<div style=\"font-weight:700;margin-bottom:12px;\">🎤 Interview Prep</div>\n{{ ($json.output.interview_prep || []).map(q => \"<div style=\\\"margin-bottom:12px;padding:14px 16px;background:#f9fafb;border-radius:10px;border-left:3px solid \" + (q.type === 'Technical' ? '#2563eb' : '#7c3aed') + \";\\\"><span style=\\\"font-size:11px;font-weight:700;text-transform:uppercase;color:\" + (q.type === 'Technical' ? '#2563eb' : '#7c3aed') + \";\\\">\" + q.type + \"</span><div style=\\\"font-weight:600;margin:2px 0;\\\">\" + q.question + \"</div><div style=\\\"font-size:14px;color:#4b5563;\\\">💬 \" + q.talking_point + \"</div></div>\").join(\"\") || \"<span style=\\\"color:#9ca3af;\\\">None</span>\" }}\n</div>\n<div style=\"background:#fff;border-radius:16px;padding:20px;box-shadow:0 2px 10px rgba(0,0,0,0.05);margin-top:16px;border-top:4px solid #16a34a;\">\n<div style=\"font-weight:700;margin-bottom:10px;\">✉️ Personalized Cover Letter</div>\n<div style=\"background:#f0fdf4;padding:16px;border-radius:10px;white-space:pre-wrap;color:#374151;\">{{ $json.output.cover_letter }}</div>\n</div>\n<div style=\"text-align:center;color:#9ca3af;font-size:13px;margin-top:24px;\">Generated by AI Career Copilot · {{ $now.toFormat(\"MMMM d, yyyy\") }}</div>\n</div>\n</div>"
      },
      "id": "2ac43296-0289-432a-8b5e-291308859982",
      "name": "Show Results",
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        736,
        -48
      ],
      "webhookId": "27ed6997-94b8-4b12-9170-5ccde123b8cd"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Show Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c9075a14-63a8-4361-943b-e36ff48de005",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d378f6c3f57977ed8c8ec884e8bad9033c6b7b49f0eb99d5e8d7da26f04b1dc5"
  },
  "nodeGroups": [],
  "id": "OEjJIDoDkqkUqvx3",
  "tags": []
}